{{-  $username := .chezmoi.username -}}
{{-  $email := "jason71319jason@gmail.com" -}}
{{-  $workUsername := "" -}}
{{-  $workEmail := "" -}}
{{-  $work := false -}}
{{-  $ephemeral := true -}}
{{-  $sudoer := true -}}

{{- $chezmoiForce := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}
{{- $interactive := and stdinIsATTY (not $chezmoiForce) -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if $interactive -}}
{{-   $username = promptString "Enter user name" $username -}}
{{-   $email = promptString "Enter email" $email -}}
{{-   if regexMatch "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$" $email -}}
{{-     writeToStdout (printf "✅ Email set as '%s'\n" $email) -}}
{{-   else -}}
{{-     writeToStdout (printf "❌ '%s' is an invalid email\n" $email) -}}
{{-     exit 1 -}}
{{-   end -}}
{{-   $work = promptBool "Is this a work machine [y/n]" $work -}}
{{-   if $work -}}
{{-     $workUsername = promptString "Enter work user name" $workUsername -}}
{{-     $workEmail = promptString "Enter work email" $workEmail -}}
{{-     if regexMatch "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$" $workEmail -}}
{{-       writeToStdout (printf "✅ Work email set as '%s'\n" $workEmail) -}}
{{-     else -}}
{{-       writeToStdout (printf "❌ '%s' is an invalid email\n" $workEmail) -}}
{{-       exit 1 -}}
{{-     end -}}
{{-   end -}}
{{-   $ephemeral = promptBool "Is this machine ephemeral [y/n]" $ephemeral -}}
{{-   $sudoer = promptBool "Are you sudoer [y/n]" $sudoer -}}
{{- end -}}

{{- $personal := not $work -}}

[data]
  username = {{ $username | quote }}
  email = {{ $email | quote }}
  work = {{ $work }}
  ephemeral = {{ $ephemeral }}
  personal = {{ $personal }}
  osid = {{ $osID | quote }}
  sudoer = {{ $sudoer }}
  workUsername = {{ $workUsername | quote }}
  workEmail = {{ $workEmail | quote }}
  zshPlugins = [
      "vi-mode",
      "zsh-syntax-highlighting",
  ]

[github]
    refreshPeriod = "12h"
